extends layout

block content
  h3 Welcome to my website!
  em Hi there!
  |  This is Matthew Avery's personal website. In no particular order, this site is:
  br
  |  - An alternative to social media<br>
  |  - A place to share projects<br>
  |  - A venue to improve my writing<br>
  | I named this site after 
  a(href="http://www.averyalina.com") my wife's site
  |  because I love her and I'm a sucker for puns.
