| this is article 3 with a youboob video
br
center
  div.video_container_max
    div.video_container
      iframe.video(src="https://www.youtube.com/embed/tgbNymZ7vqY" frameborder="0" allowfullscreen)
